<li class="item">
  <div class="header">
    <input class="title" type="text" name="title" value="{{title}}"></input>

    <button class="update-item">Save</button>
  </div>
  <p>
    <textarea class="content" name="content" size="110" height="50" rows="2">{{content}}</textarea>
  </p>

</li>
