<li class="item">
  <p>
    <input class="title" type="text" name="title" value="{{title}}"></input>
  </p>

  <p>
    <textarea class="content" name="content" size="110" height="50" rows="2">{{content}}</textarea>
  </p>

  <button class="update-item">Save</button>
</li>
