<li>
  <div class="item">

    <div class="header">
      <h2 class="title">
        {{title}}
      </h2>

      <button class="edit-item">Edit</button>
    </div>

    <p class="content">
      {{content}}
    </p>

  </div>

  <button class="close toggle">-</button>
  <div class="child" id="item{{id}}"></div>
</li>
